$base-color:#c6538c;
$base-color: rgb(52, 228, 219);
$font-style: oblique;
$white-color: white;
$text-color: black;
$button-backhround:white;
$text-align:center;
$border-type:sold 1px;
$border-radius: 10px;
$background: black;