@import "partials/_variables.scss";

h1{
    color: $base-color;
}
body{
    background: red;
}


body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
header {
  margin: 0;
  border-bottom: 2px solid black;
}
footer {
  clear: both;
  margin-top: 1em;
  border-top: 2px solid black;
}

footer p {
  text-align: right;
  font-size: 80%;
  margin: 1em 0;
}
header h1 {
  margin: 0;
  padding: .5em 0;
  text-align: center;
  color: rgb(14, 13, 13);
  border-radius: 5px;
  border-bottom: 10px;
  border-top: 10px;
  border-style: solid;
  font-family: $font-style;
  font-size: 30px;
  background-color: $white-color;
  border-radius: 10px;
}

button {
  background-color: white;
  color:black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
   text-align: center;
   border-style: solid;

}

button:hover {
  opacity: 0.9;
  background-color: grey;
  
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: black;
  color: white;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
  color: white;
  
}

img.avatar {
  width: 30%;
  border-radius: 50%;
}

.container {
  padding: 16px;
  background-color: black;
}

span.psw {
  float: right;
  padding-top: 16px;
  background-color: black;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
  color: white;

}

/* Modal Content/Box */
.modal-content {
  background-color: black;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  color: white;
  border-style: solid;
  border-radius:50px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;

}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s

}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
     
  }
}
#login1{
  border: 2px;
}
h1{
  color: red;
}