@import "partials/_variables.scss";

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.icon {
  padding: 10px;
  background: $background;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}
.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: $background;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-style: $font-style;
}

.btn:hover {
  opacity: 1;
}
header h1 {
  margin: 0;
  padding: .5em 0;
  text-align: center;
  color:$background;
  border-radius: 5px;
  border-bottom: 10px;
  border-top: 10px;
  border-style: solid;
  font-family: oblique ;
  font-size: 30px;
  background-color: white;
  border-radius: 10px;
  font-style: $font-style;
}

header {
  margin: 0;
  border-bottom: 2px solid $background;
}