/* the styles for the html elements */
html {
  background-color: black;
}

.genre {
  color: red;
}

table {
  background-color: white;
  border: 50px solid black;
  border-collapse: collapse;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border: 20;
  border-radius: 5px;
  border-bottom: 10px;
}

table, th, td {
  border: 10px solid black;
}

body {
  margin-top: 0;
  font-family: oblique;
  width: 1000px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.959);
  border: 20px solid white;
  padding: .5em 2em;
}

header {
  margin: 0;
  border-bottom: 2px solid black;
}

header h1 {
  margin: 0;
  padding: .5em 0;
  text-align: center;
  color: #0e0d0d;
  border-radius: 5px;
  border-bottom: 10px;
  border-top: 10px;
  border-style: solid;
  font-family: oblique;
  font-size: 30px;
  background-color: white;
  border-radius: 10px;
}

main {
  margin: 0;
}

aside {
  float: left;
  width: 150px;
}

nav ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

nav ul li {
  padding-bottom: 0.5em;
}

section {
  float: left;
  width: 800PX;
  padding-bottom: 1.5em;
}

footer {
  clear: both;
  margin-top: 1em;
  border-top: 2px solid black;
}

footer p {
  text-align: right;
  font-size: 80%;
  margin: 1em 0;
}

h3 {
  font-size: 190%;
  margin: 0;
  padding: .5em 0 .25em;
  border-style: solid;
  width: 12.5%;
  height: 25px;
  font-style: oblique;
  color: black;
  background-color: white;
  border-color: black;
  border-width: 3px;
  border-radius: 10px;
  border-bottom: 10px;
  border-top: 10px;
}

h2 {
  font-size: 120%;
  margin: 0;
  padding: .25em 0 .5em;
}

h1, h2 {
  color: #333;
}

ul {
  margin: 0 0 1em 0;
  padding: 0 0 0 2.5em;
}

li {
  margin: 0;
  padding: 0;
}

a {
  color: #29407c;
  font-weight: bold;
}

a:hover {
  color: black;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

td, th {
  border: 1px dashed black;
  padding: .2em .5em .2em .5em;
  vertical-align: top;
  text-align: left;
}

form {
  margin: 0;
}

br {
  clear: left;
}

/* the styles for classes */
.right {
  text-align: right;
}

.last_paragraph {
  margin-bottom: 2em;
}

.margin_top_increase {
  margin-top: 1em;
}

/********************************************************************
  * Additional styles for the record Manager application
  ********************************************************************/
#add_record_form {
  margin: .5em 0 1em;
}

#add_record_form label {
  width: 6em;
  padding-right: 1em;
  padding-bottom: .5em;
  float: left;
}

#add_record_form input {
  float: left;
}

#add_record_form input[text] {
  width: 15em;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.addSong {
  font-size: 30px;
  color: white;
}

a {
  font-size: 15px;
  color: black;
  border: solid 1px;
  font-style: oblique;
  background-color: white;
  border-radius: 20px;
  text-decoration: none;
}

input {
  background-color: white;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #3a3939;
}

#addPlaylistHeaders {
  color: white;
  border: solid 1px;
  border-color: white;
  background-color: black;
  width: 15%;
  text-align: center;
  border-radius: 10px;
  font-style: oblique;
}

#addSongHeader {
  color: white;
  border: solid 1px;
  border-color: white;
  background-color: black;
  width: 30%;
  text-align: center;
  border-radius: 10px;
  font-style: oblique;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */